:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  width: 690px;
  margin: 20px auto;
  display: flex;
  gap: 16px;
}

.nav-link{
  text-decoration: none;
  color: rgb(13, 13, 13);
}
.home-container{
  width: 690px;
  margin: 60px auto;
}
.user{
  height: 90px;
  border-radius: 50%;
}
.connect{
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px 28px;
  text-decoration: none;
  display: inline-block;
  color: black;
  display: flex;
  align-items: center;
  gap: 8px;
}
.connect-flex{
  display: flex;
  gap: 10px;
}
.project-flex{
  display: flex;
  gap: 20px;
}
.card{
  border: 1px solid #ddd;
  padding: 8px;
  width: 340px;
}
.card img{
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.p-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.share-icon{
  transform: rotate(45deg);
}